@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

::selection {
    color: hsla(133, 100%, 50%, 0.781);
    background-color: lightskyblue;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( 45deg, transparent 0%, transparent 27%, lightskyblue 27%, rgba(214, 214, 214, 0.212) 38%, transparent 38%, transparent 100%), linear-gradient( 45deg, transparent 0%, transparent 39%, rgba(214, 214, 214, 0.692) 39%, rgba(214, 214, 214, 0) 68%, transparent 68%, transparent 100%), linear-gradient( 90deg, transparent 0%, transparent 74%, rgba(214, 214, 214, 0.06) 74%, rgba(214, 214, 214, 0.06) 79%, transparent 79%, transparent 100%), linear-gradient(90deg, rgba(37, 151, 218, 0.637), rgb(21, 33, 202));
    gap: 2rem;
}

button {
    margin-top: 2rem;
    font-size: 2em;
    border-radius: 0 em;
    border-spacing: 0px;
    border-color: blue;
    height: fit-content;
    width: fit-content;
    padding: 0.4em 1em;
    background: teal;
    color: lightgreen;
    font-weight: 700;
    letter-spacing: 2px;
}

.quotes {
    display: flex;
    height: auto;
    padding: 2rem;
    width: 60%;
    color: darkred;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
}